
a {
    text-decoration: none;
}

#banner-image {
    padding-bottom: 40px;
    text-align: center;
    margin-bottom: 10px;
    color: #f8f8f8;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#banner-content {
    display: inline-block;
    padding: 6% 12% 6% 12%;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(0,0,0,0.7);
    max-width: 660px;
}

.inner-banner-image {
    padding-top: 6%;
    width: 75%;
    margin: auto;
}

.custom {
    display: inline-block;
    margin: 20px 10% 10px 10%;
}

footer {
    padding: 10px;
    background-color: #101010;
    color: #9d9d9d;
    bottom: 0;
    width: 100%;
}
